{% extends 'pads/base.html' %}

{% block body %}
    
<div id="header" class="span-24 last"><h1>Realtime Voting Both</h1></div>

<div id="container" class="container"> 
      
    <div id="pads-recent" class="span-12 pads">
      <h2>Recent Pads</h2>
        {% if object_list %}
          {% for pad in object_list %}
	    <p><a href="{% url pads_detail creator=pad.creator.username slug=pad.slug %}">{{ pad.title }}</a></p>
          {% endfor %}
        {% else %}
            <p>No pads have been created.</p>
        {% endif %}
    </div>

    <div id="pads-mine" class="span-12 pads last">
        <h2>My Pads</h2>
        {% if user.is_authenticated %}
            {% if users_pads %}
              {% for pad in users_pads %}
		<p><a href="{% url pads_detail creator=pad.creator.username slug=pad.slug %}">{{ pad.title }}</a></p>
              {% endfor %}
            {% else %}
		<p><a href="{% url pads_new %}">Create Your First Pad!</a></p>
            {% endif %}
        {% else %}
            <p><a href="/accounts/login/">Login</a> or <a href="/accounts/register/">Sign up</a> to create your own Pads!</p>
        {% endif %}
    </div>

</div><!-- end #container -->

{% endblock %}
